<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4">
        <img [src]="Images/mig2.jpg"
          alt="Martin Carpentier" />
      </div>
      <div class="col-sm-8">
        <h1>Hejsa!</h1>
        <p class="lead">Mit navn er Martin, og jeg er software ingeniør studerende. Hvis du vil høre mere om mig og mit arbejde, så har du
          fundet den helt rigtige hjemmeside.</p>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-3">
      <div>
        <img [src]="Images/mig2.jpg" class="img-responsive img-circle img-thumbnail" style="margin-left:auto; margin-right:auto; display:block;"
          alt="Martin Carpentier" />
      </div>

    </div>
    <div class="col-sm-4">
      <h2>Om mig</h2>
      <p>Tilføj tekst og informationer.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Udviklingskompetancer</h2>
    </div>
  </div>
  <div class="row" style="padding-bottom:40px">
    <div class="col-sm-12">
      <p>De nedenstående progressbars, viser med grøn farve hvor jeg føler jeg er. Og den gule farve viser hvor jeg godt kunne
        tænke mig at ligge i fremtiden.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>C# programming</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 90%;"></div>
        <div class="progress-bar progress-bar-warning" style="width: 10%;"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>WPF Development</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 90%;"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>Java programming</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 65%;"></div>
        <div class="progress-bar progress-bar-warning" style="width: 20%;"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>Android Development</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 70%;"></div>
        <div class="progress-bar progress-bar-warning" style="width: 30%;"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>SQL programming</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width:60%;"></div>
        <div class="progress-bar progress-bar-warning" style="width:20%;"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>Asp.Net</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 40%;"></div>
        <div class="progress-bar progress-bar-warning" style="width: 30%;"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2 class="page-header">Arbejdserfaring</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <img class="img-responsive" [src]="Images/Kamstrup_logo_red_small.jpg" />
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <h4>2015-2016 - Praktikant</h4>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12">
          <p>Som praktikant hos kamstrup lavede jeg (Tilføj tekst)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img class="img-responsive" [src]="Images/Kamstrup_logo_red_small.jpg" />
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <h4>2016-2017 - Studenterudvikler</h4>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12">
          <p>Som studenterudvikler hos kamstrup lavede jeg (Tilføj tekst)</p>
        </div>
      </div>
    </div>
  </div>
</div>