<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-10 col-sm-3">
                <img [src]="martinProfile" id="profile-style" class="img-responsive img-circle img-thumbnail" style="float:left; margin-left:auto; margin-right:auto; display:block;"
                    alt="Martin Carpentier" />
            </div>
            <div class="col-sm-9">
                <h1>Heya!</h1>
                <p class="lead">My name is Martin, and i am an educated software engineer working fulltime at a danish software development
                    company. On this page, i will show my preferred technologies, and also show where i have worked.
                </p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4">
            <h2>Om mig</h2>
            <p>Tilføj tekst og informationer.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Udviklingskompetancer</h2>
        </div>
    </div>
    <div class="row" style="padding-bottom:10px">
        <div class="col-sm-12">
            <p>De nedenstående progressbars, viser med grøn farve hvor jeg føler jeg er. Og den gule farve viser hvor jeg godt
                kunne tænke mig at ligge i fremtiden.</p>
        </div>
    </div>

    <div *ngFor="let tech of technology" style="margin-top: 10px">
        <div class="row">
            <div class="col-sm-12">
                <h3>{{tech.name}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar"  [style.width]="tech.current"></div>
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"  [style.width]="tech.wanted"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header">Arbejdserfaring</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive img-fluid" [src]="kamstrupImage" />
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <h4>2015-2016 - Praktikant</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Som praktikant hos kamstrup lavede jeg (Tilføj tekst)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive img-fluid" [src]="kamstrupImage"
            />
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <h4>2016-2017 - Studenterudvikler</h4>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Som studenterudvikler hos kamstrup lavede jeg (Tilføj tekst)</p>
                </div>
            </div>
        </div>
    </div>
</div>