<div class="container" style="margin-top: 3em; margin-bottom: 3em" (window:resize)="onResize($event)">

    <div class="row">
        <h2 class="col-12">Hashmaker</h2>
    </div>
    <div class="row">
        <p class="col-12">Select a hashing algorithm</p>
    </div>
    <div class="row">
        <div class="col-12 col-md-5 form-group">
            <label for="algorithm">Hashing algorithm</label>
            <select class="form-control" #selectedAlgorithm id="algorithm" (change)="onChange(selectedAlgorithm.value)">
                <option *ngFor="let algo of algorithms" [value]="algo">{{algo}}</option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="showKey">
        <div class="col-12 col-md-5 form-group">
            <label>Write a key for the HMAC hash</label>
            <div class="form-group">
                <textarea class="form-control" (input)="hmacKey = $event.target.value"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="card border-primary mb-3" style="height: 270px">
                <div class="card-header">Enter text to hash</div>
                <div class="card-body">
                    <div class="form-group">
                        <textarea class="form-control" #textToHash style="height: 130px" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <button (click)="hash(textToHash.value, selectedAlgorithm.value)" class="btn btn-primary">Hash</button>
                </div>
            </div>
        </div>
        <div *ngIf="!smallerThanMd" class="col-md-2 center">
            <img [src]="arrow" class="center-image" alt="Martin Carpentier" />
        </div>
        <div *ngIf="smallerThanMd" class="col-2 center">
            <img [src]="arrow" class="center-image" style="transform: rotate(90deg);" alt="Martin Carpentier" />
        </div>
        <div class="col-12 col-md-5">
            <div class="card border-primary mb-3" style="height: 270px">
                <div class="card-header">Result</div>
                <div class="card-body">
                    <p class="card-text">{{hashedText}}</p>
                </div>
            </div>
        </div>
    </div>
</div>